/* mansi css*/

*{
  margin: 0%;
  padding: 0%;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


/* BootStrap */
.col1{
  width: 8.33%;
}
.col2{
  width: 16.66%;
}
.col3{
  width: 25%;
}
.col4{
  width: 33.33%;
}
.col5{
  width: 41.66%;
}
.col6{
  width: 50%;
}
.col7{
  width: 58.33%;
}
.col8{
  width: 66.66%;
}
.col9{
  width: 75%;
}
.col10{
  width: 83.33%;
}
.col11{
  width: 91.66%;
}
.col12{
  width: 100%;
}

/* .collection{} */

[class*="col"]{
  float: left;
  padding: 10px;
}
.row::after{
  content: "";
  display: block;
  clear: both;
}

/* Margin and Padding */

.mx-50{
  margin: auto 50px;
}
.my-50{
  margin: 50px auto;
}
.my-20{
  margin: 20px auto;
}
.m-50{
  margin: 50px;
}
.mt-50{
  margin-top: 50px;
}
.px-50{
  padding: auto 50px;
}
.py-50{
  padding: 50px auto;
}
.p-50{
  padding: 50px;
}
.px-20{
  padding: auto 20px;
}
.py-20{
  padding: 20px auto;
}
.p-20{
  padding: 20px;
}
/* LINE HEIGHT */
.ln-2{
  line-height: 2;
}
/* colors */
.bg-yellow{
  background: yellow;
}
.bg-white{
  background: white;
}
.bg-lightgrey{
  background: #f4f4f4;
}
.bg-grey{
  background: grey;
}
.text-yellow{
  color: #b5dd05 ;
}
.text-pink{
  color: #e90d56;
}
.text-grey{
  color: grey ;
}
.text-white{
  color: white ;
}
/* TEXT ALIGNMENT */
.text-right{
  text-align: right;
}
.text-left{
  text-align: left;
}
.text-center{
  text-align: center;
}
.text-justify{
  text-align: justify;
}

/* navbar */
header{
  background: linear-gradient(45deg, #0D0612, #11295a);
}
header>nav>div>img{
  margin: auto 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}
header>nav>div>li>a{
  margin: 20px auto;
}
header>nav>div>img{
  height: 64px;
}
header>nav>div>ul{
  list-style-type: none;
  float: right;
}
header>nav>div>ul>li{
  justify-content: center;
  display: inline-block;
  padding: 10px 0px 10px 30px;
  margin-top: 27px;
}
header>nav>div>ul>li>a{
  color: #eee;
  text-decoration: none;
}
header>nav>div>ul>li:hover a{
  color: #f5f5fcf8;
}
header>nav>div>ul>li:last-child{
  position: relative;
  top: -15px;
  /* gap: 20px; */
  margin-left: 20px;
}

/* BANNER START */
.image{
background: linear-gradient(45deg, #080707, #0f080862), url(./Images/img1.jpg) no-repeat center;
background-size: 100%;
overflow: hidden;
height: 80vh;
object-fit: cover;
}
.banner>div{
  position: absolute;
  top: 30%;
  left: 4%;
  color: #fff;
  line-height: 1.5;
  margin: 20px;
}
.banner>div>h4,.banner>div>button,.banner>div>p{
  font-size: 20px;
}
.banner>div>h1{
  font-size: 30px;
  margin-bottom: 20px;
}
.banner>div>button{
  padding: 20px;
  margin: 20px auto;
  background-color: #11295a;
  color: #fff;
  border: none;
  border-radius: 50px;
  transition: 1s;
  cursor: pointer;
}
.banner>div>button:hover{
  border: 2px solid #fff;
  color: #fff;
  background-color: transparent;
  cursor: pointer;

}
.banner>div>p{
  width: 60%;
}
.banner>div>button>i{
  letter-spacing: 10px;
}

/* swarna css */
footer{
    background: linear-gradient(45deg, #0D0612, #11295a);
    padding: 20px;
    /* text-align: center; */
    color: #fff;
}
footer>.one{
    display: flex;
    gap:70px;
}
footer>.one>.two{
    display: flex;
    gap: 80px;
    padding-left: 90px;
}
footer>.one>div:last-child{
    padding-left: 190px;
}
footer>.one>div:last-child>input{
    font-size: 17px;
    /* padding: 5px; */
    text-decoration: none;
    outline: none;
    background-color: transparent;
    border: #fff 1px solid;
    border-radius: 20px;
    padding: 10px;
}
footer>.one>div:last-child>input::placeholder{
    color: #fff;
    /* margin-left: 2px; */
}
footer>.one>div:last-child>button{
  padding: 14px;
  margin: 20px auto;
  background-color: #0a2b6d;
  color: #fff;
  border: none;
  border-radius: 50px;
  margin-left: 10px;
  /* transition: 0.5s; */
  cursor: pointer;        
}
footer>.one>div:last-child>button:hover{
    border: transparent solid #fff;
    color: #fff;
    background-color: transparent;
    cursor: pointer;
}
footer>.last{
    display: flex;
    justify-content: space-between;
    /* gap: 200px; */
    padding-left: 30px;
    margin-left: 30px;
}
footer>.last>div>b>[class*="bi"] {
    background-color: #0c44b6;
    border-radius: 50%;
    padding: 10px;
    margin: 5px;
    transition: 1s;
}
footer>.last>div>b{
    margin-right: 3px;
    /* gap: none; */
}
footer>.last>div>b>[class*="bi"]:hover{
    transform: rotate(360deg);
    cursor: pointer;
}

/* card */
.ceo {
  background: url(https://img.freepik.com/free-vector/coworking-concept-illustration_114360-5921.jpg?w=740&t=st=1705780781~exp=1705781381~hmac=245702c03230818b51bcbf01ffdfebde9a20dd90b6aff9c9dca35c26ea7701ba) no-repeat center;
  background-size: cover;
  height: 563px;
  width: 568px;
  color: #fff;
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
}
 .ceo,
 .cardy,
 .consulting,
 .consulting-box1,
 .consulting-box2 {
     border-radius: 20px;
     box-shadow: 0 3px 6px rgba(49,35,35,0.16), 0 3px 6px rgba(0,0,0,0.23);
     line-height: 2;
     text-align: justify;
     padding: 20px;
     /* margin: 50px ; */
 }

.title>p, .consulting>p { color: grey;}
.title>h1 { font-size:30px;}
.consulting-box1{ background-color: #dc3748;}
.consulting{ background-color: #2e11cf56;}
.consulting-box2{background-color: #f8bf0d;}
.consulting-box1, .consulting-box2{
 color: #fff;
 transition: 1s;
 text-align: left;
}
.consulting-box1:hover{background-color: #f8bf0d;color: #dc3748;}
.consulting-box2:hover{background-color: #dc3748;color: #f8bf0d;}
.consulting-box1>button{
 background-color: #f03e50;
 padding: 15px 20px;
 border: none;
 border-radius: 50px;
 font-weight: bold;
 color: inherit;
 margin-top: 20px;
 cursor: pointer;
}
.consulting-box1:hover button {background-color: #dc3748;color: #fff;}
.ceo{
 margin: 50px;
}
.consul{
 /* margin: 10px; */
 margin-top: 50px;
 margin-right: 50px;
}
.cole{
 /* margin-top: 50px; */
 margin-right: 20px;
 margin-top: 30px;
 /* margin-right: 50px; */
}
.cardy{
 margin-top: 20px;
}
.backgrond{
 background: linear-gradient(45deg, #0D0612, #11295a);
 overflow-x: hidden;
}
.btnn{
 background-color: #f03e50;
 padding: 15px 20px;
 border: none;
 border-radius: 50px;
 font-weight: bold;
 color: inherit;
 margin-top: 20px;
 cursor: pointer;
 text-decoration: none;
 transition: 1s;
}
.btnn:hover{
 background-color: #f8bf0d;
}

/* payroll */

.content{
  background: linear-gradient(45deg, #0D0612, #11295a);
  display: flex;
    position: absolute;
}
.sidenav{
  background: linear-gradient(45deg, #0D0612, #11295a);
    /* color: #acaaaa; */
    padding-top: 20px;
    width: 300px;
    height: 100vh;
    position: fixed;
}
.sidenav>h2{
    padding-left: 53px;
    /* text-align: center; */
}
.sidenav>ul{
    display: flex;
    flex-direction: column;
    
}
.sidenav>ul>li{
    padding: 15px;
    display: block;
}
.sidenav>ul>li>a{
    text-decoration: none;
    color: #000;
}
.sidenav>ul>li>a>i{
  letter-spacing: 10px;
  /* text-shadow: #000; */
  /* padding: 10px; */
}
.sidenav>ul>li>a:hover{color: #dc143c;}
.sidenav>button{
    padding: 15px 70px;
    margin-left: 30px ;
    background-color: #dc3748;
    color: #fff;
    border: none;
    border-radius: 10px;
    transition: 1s;
}
.sidenav>button:hover{
    cursor: pointer;
    background-color: #f3d632;
}
.contain{
  /* width: 60%; */
  margin-left: 22%;
}